<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<p>By <%= @post.user.email %></p>
<h2>----------Comments----------</h2>
<% @post.comments.each do |comment| %>
  <h2><%= comment.title %></h2>
  <p><%= comment.body %></p>
  <p>By <%= comment.user.email %></p>
<% end %>
